In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
from nltk.corpus import stopwords

In [2]:
# load the airline review dataset
df = pd.read_csv('C://Users//acer//Desktop//BA intern//1. webscrapping//data//BA_reviews.csv')

In [3]:
df.head(3)

   Unnamed: 0                                            reviews
0           0  Not Verified |  They changed our Flights from ...
1           1  Not Verified |  At Copenhagen the most chaotic...
2           2  ✅ Trip Verified |  Worst experience of my life...